.list-group-item {
	--bs-list-group-bg: transparent;
	--bs-list-group-color: white;
	--bs-list-group-border-color: rgba(255, 255, 255, 0.13);
	--bs-list-group-action-hover-bg: rgba(255, 255, 255, 0.1);
	--bs-list-group-action-hover-color: white;
	--bs-list-group-action-active-bg: rgba(255, 255, 255, 0.2);
	--bs-list-group-action-active-color: white;
}
