.error-page__container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	h1 {
		text-align: center;
	}
}

.error-page__error-code {
	font-size: 10rem;
}

.error-page__description {
	max-width: 35vw;
	text-align: center;

	@media (max-width: 932px) {
		max-width: 70vw;
	}
}
